
<title>Login</title>
<body>
    <h2>Login to Your Account</h2>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li style="color: red;">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    
    <form method="post">
        {% csrf_token %}
        
        <label for="username">Username:</label>
        <input type="text" name="username" required value="{{ form.username.value|default:'' }}"><br><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br><br>
        {{forms.captcha}}
        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
</body>
</html>
